<table id='tasks_table'>
  <thead>
    <tr>
      <td>Action</td>
      <td>Priority</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |t| %>
      <tr>
        <td><%= t.action %></td>
        <td><%= t.priority %></td>
        <td><%= t.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>