<div class="content has-text-centered" id="department_tasks_page" data-department-id="<%= @department.id %>">

  <h1 class="title"><%= @department.name %></h1>

  <%= render 'task_table',tasks: @tasks %>
  <div class='box is-center'>
    <%= render 'task_form', department: @department %>
  </div>
</div>