<div class="content has-text-centered">

  <h1 class="title"><%= @department.name %></h1>

  <%= render 'task_table',tasks: @tasks %>
  <div class='box is-center'>
    <%= render 'task_form', department: @department %>
  </div>
</div>